.card {
  height: 320px;
  width: 250px;
  border: 2px solid #edeff4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  border-radius: 20px;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
  font-family: "Noto Serif", serif;
}
@media only screen and (min-width: 800px) {
  .card {
    height: 400px;
    width: 360px;
    font-size: 200px;
  }
}
